@model IEnumerable<ShakuntEnterprises.Models.MainNavigationBar>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_Views.cshtml";
}
<h3> List </h3>
<p>
    <a class=" btn btn-success" asp-action="Create">Create New</a>
</p>
<table id="Dynamic-data-table" width="100%"  class="display expandable-table dataTable no-footer" cellpadding="1" cellspacing="1">
    <thead class="thead-dark">
        <tr>
           @* <th>
                @Html.DisplayNameFor(model => model.ModuleId)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.ModuleName)
            </th>
           @* <th>
                @Html.DisplayNameFor(model => model.MenuId)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.MenuName)
            </th>
          @*  <th>
                @Html.DisplayNameFor(model => model.ContollerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActionName)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserRight)
            </th>
          @*  <th>
                @Html.DisplayNameFor(model => model.created_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.created_by)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>Action / Command</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           @* <td>
                @Html.DisplayFor(modelItem => item.ModuleId)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.ModuleName)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.MenuId)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.MenuName)
            </td>
         @*   <td>
                @Html.DisplayFor(modelItem => item.ContollerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActionName)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserRight)
            </td>
        @*    <td>
                @Html.DisplayFor(modelItem => item.created_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.created_by)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a> &nbsp;
                <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.Id">Details</a> &nbsp;
                <a class="btn btn-danger"  asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts
{
    <script type="text/javascript">
        
        $(document).ready(function () {
            $('#Dynamic-data-table').DataTable();
        });
    </script>
}
