@model IEnumerable<ShakuntEnterprises.Models.TestCertificateRecord>
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout_Views.cshtml";
}


<h3>UnApproved Certificate List </h3>
 
<table id="Dynamic-data-table" width="100%" class="display expandable-table dataTable no-footer" cellpadding="1" cellspacing="1">
    <thead class="thead-dark">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.CertificateNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IssueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quanity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceNo)
            </th>


            <th>Action / Command</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CertificateNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IssueDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quanity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InvoiceNo)
                </td>

                <td>
                    @if (@Context.Session.GetString("lid").ToLower() == "admin")
                    {
                        <a class="btn btn-primary" asp-action="ApproveCertificate" asp-route-id="@item.Id">Approve</a> 
                    }
                    else
                    {
                        <a class="btn btn-primary"  >Not Authorise</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts
    {
    <script type="text/javascript">

        $(document).ready(function () {
            $('#Dynamic-data-table').DataTable();
        });
    </script>
}
